Predicates: loves tail friendly angry animal partOf person dog man 
Variables: x4 x6 x3 x0 x2 x7 x5 x1 
Constants: SK0 Kim Mike 
Functions: SKF0 SKF1 
Clauses:
!partOf(x7,Kim) 
man(Mike) 
!person(x6) animal(x6) 
dog(Kim) 
friendly(Kim) 
!man(x5) person(x5) 
man(SK0) 
angry(SK0) 
!dog(x0) animal(x0) 
!dog(x3) partOf(x3,SKF1(x3)) 
!dog(x4) tail(SKF1(x4)) 
person(SKF0(x1)) !dog(x1) !friendly(x1) 
loves(SKF0(x2),x2) !dog(x2) !friendly(x2) 
