Predicates: rain sprinkler before 
Variables: t0 t20 t10 
Constants: C D B A 
Functions: 
Clauses:
sprinkler(A) sprinkler(B) 
!rain(D) 
!rain(C) 
rain(B) 
rain(A) 
before(C,D) 
before(B,C) 
before(A,B) 
!rain(t0) !sprinkler(t0) 
!sprinkler(t20) !rain(t10) !before(t10,t20) 
