Predicates: brown chocolate burnt cookie yummy sweet 
Variables: 
Constants: 
Functions: 
Clauses:
!sweet !burnt 
sweet 
!brown burnt chocolate 
!chocolate 
brown 
!sweet brown 
!cookie sweet 
!chocolate yummy 
